body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body.dark-mode {
    background-color: #1c1c21;
    color: #f0f0f0;
}

a {
    color: #404040;
    /* text-decoration: none; */
}

body.dark-mode a {
    color: #b8ab9c;
    /* text-decoration: none; */
}

.div-main {
    margin-left: 10%;
    margin-right: 10%;
}

.div-main li {
    margin-top: 0.5em;
    margin-left: 1em;
}

.div-main ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}

.centered {
    text-align: center;
}

.filters {
    border: 1px solid #cccccc;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    /* margin-left: 5em;
    margin-right: 5em; */
}

body.dark-mode .filters {
    border: 1px solid #4d4d4d;
}

/* .filters-box {
    margin-left: 2%;
    margin-right: 2%;
} */

.filters-box label {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

h5 {
    margin-top: -0.5em;
}
