footer {
    background-color: #333333;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
}

body.dark-mode footer {
    background-color: #2e2929;
    color: #f0f0f0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

body.dark-mode footer a {
    color: #f0f0f0;
}

footer a:hover {
    text-decoration: underline;
}